span.quoteblock
{
	font-size: 1.5em;
	font-weight: bold;
}
span.bg-quote
{
	margin-right: 5px;
	float:left;
}
span.ed-quote
{
	margin-left: 5px;
	float:right;
}
div.author { display:none; }
div.author-ok {	text-align: right; }
div.quote { display:none; }
div.quote-ok { font-size: 1.5em; }
div.quote-item
{
	border: rgba(208, 208, 208, 1.0) 1px solid;
	box-shadow: rgba(208, 208, 208, 1.0) 0 0 8px;
	margin-top: 10px;
	margin-bottom: 10px;
}
div.quote-header 
{
	padding:10px 10px 10px 10px;
	border-bottom: rgba(208, 208, 208, 1.0) solid 1px;
}
div.quote-content { padding:2px 10px 2px 10px; }
div.quote-footer
{
	padding: 0px 10px 0px 10px;
	border-top: rgba(208, 208, 208, 1.0) solid 1px;
	background: rgba(232, 232, 232, 1.0);
}